#desk{
	position:relative;
	background:#ccc url(../images/background.png);
	width:500px;
	height:500px;
}
.cup{
	position:relative;
	display:inline-block;
	width:48px;
	height:48px;
	margin:1px;
}
.ele{
	position:relative;
	display:inline-block;
	width:48px;
	height:48px;
}
.color--1{
  background:black;
}
.color-1{
	background:url(../images/pumpkin.png); 
}
.color-2{
	background:url(../images/egg-plant.png);
}
.color-3{
	background:url(../images/chilli.png);
}
.color-4{
	background:url(../images/artichoke.png);
}
.color-5{
	background:url(../images/carrot.png);
}
.color-6{
	background:url(../images/leek.png);
}
